__pycache__/
.idea
.DS_Store
venv
.venv
env
env.sh
application.log
rt.py
find.mongodb.js
.vscode/
result.log
otmoic-ccxt-market/.vscode
otmoic-ccxt-market/lp-env.sh
build.sh
py-result.log
otmoic-ccxt-market/node-result.log
